<!DOCTYPE HTML>

<head>
    <title>Alterar Palavra-passe</title>
    <%- include('header.ejs')  %>
</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>




    <div class="login-page bg1" style="background-position: 100% 100%; opacity: 0.8;">
        <div class="login-page-overlay"></div>
        <div class="login-page-wrapper">
            <br>
            <div>
                <h4 class="header-logo1"
                    style="color: #fff; width: 100%; font-size: 28px; text-align: center; margin-top: 88px;">
                    Alterar Palavra-passe</h4>
            </div>
            <br>
            <form id="formAlterarPass">
                <input type="hidden" value="<%=user_id%>" id="user_id">
                <input type="password" class="signup" placeholder="Palavra-passe" id="pass" required>
                <input type="password" class="signup" placeholder="Confirmar palavra-passe" id="confPass" required>
                <br>
                <center>
                    <button type="submit" id="alterarPass"
                        class="button center-button button-blue full-bottom detected-button"
                        style="width: 75%; margin-top: 5px; padding: 12px 20px; font-size: 13px; margin-bottom: 15px!important;">Alterar</button>
                </center>
                <a class="forgot" href="/" style="margin-top: 10px;">Já não pretende alterar a palavra-passe? Volte para
                    o login!</a>
            </form>
        </div>
    </div>
    <div class="menu-wrapper-background"></div>
    <script>
        const urlBase = `<%=urlBase%>`;

        const pass = document.getElementById("pass");
        const confPass = document.getElementById("confPass");

        pass.addEventListener("change", (event) => {
            if (pass.value != confPass.value && confPass.value != "") {
                confPass.setCustomValidity("As palavras-passe não correspondem!");
            } else {
                if (pass.value.length >= 9) {
                    let validator = {
                        maiuscula: 0,
                        minuscula: 0,
                        numero: 0,
                        especial: 0
                    }

                    for (let i = 0; i < pass.value.length; i++) {
                        if ("0123456789".includes(pass.value.charAt(i))) {
                            validator.numero = 1;
                        } else if ("[`!@#$%^&*()_+-=[]{};':\"\\|,.<>/?~]".includes(pass.value.charAt(i))) {
                            validator.especial = 1;
                        } else if (pass.value.charAt(i) === pass.value.charAt(i).toLowerCase()) {
                            validator.minuscula = 1;
                        } else if (pass.value.charAt(i) === pass.value.charAt(i).toUpperCase()) {
                            validator.maiuscula = 1;
                        }
                    }

                    if (validator.maiuscula + validator.minuscula + validator.especial + validator.numero < 3) {
                        swal({
                            html: '<strong><h3>A sua palavra-passe deve conter pelo menos três dos seguintes caracteres: um caracter especial, uma letra maiúscula, uma letra minúscula ou um número!</h3></strong>',
                            type: 'error',
                            showCloseButton: true,
                            showConfirmButton: false,
                            focusConfirm: false,
                            timer: 9000
                        })
                    } else {
                        pass.setCustomValidity("");
                        document.getElementById("registar").disabled = false;
                    }
                } else {
                    swal({
                        html: '<strong><h3>A sua palavra-passe deve conter no mínimo 9 caracteres.</h3></strong>',
                        type: 'error',
                        showCloseButton: true,
                        showConfirmButton: false,
                        focusConfirm: false,
                        timer: 2000
                    })
                }
            }
        })

        confPass.addEventListener("change", (event) => {
            if (pass.value != confPass.value) {
                confPass.setCustomValidity("As palavras-passe não correspondem!");
            } else {
                confPass.setCustomValidity("");
                document.getElementById("alterarPass").disabled = false;
            }
        })



        const formAlterarPass = document.getElementById("formAlterarPass");

        formAlterarPass.addEventListener('submit', (event) => {
            document.getElementById("alterarPass").disabled = true;
            event.preventDefault();

            let data = {
                user_id: document.getElementById("user_id").value,
                password: pass.value,
                type: "recover"
            }
            return fetch(`${urlBase}/password/update`, {
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include',
                method: 'PUT',
                body: JSON.stringify(data)
            }).then(response => {
                return response.json();
            }).then(result => {
                if (result.message == "Password updated with success") {
                    swal({
                        title: 'Palavra-passe alterada com sucesso!',
                        type: 'success',
                        showCancelButton: false,
                        showConfirmButton: false,
                        showLoaderOnConfirm: false,
                        timer: 2000
                    }).then(result => {
                        window.location.replace('/')
                    })
                } else {
                    throw new Error("Ocorreu um erro! Tente novamente mais tarde. Obrigado!");
                }
            }).catch(error => {
                document.getElementById("alterarPass").disabled = false;
                swal({
                    html: '<strong><h3>Ocorreu um erro! Tente novamente mais tarde. Obrigado!</h3></strong>',
                    showCancelButton: false,
                    showConfirmButton: false,
                    type: 'error',
                    timer: 2000
                })
            });
        })
    </script>
</body>