<!DOCTYPE HTML>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"
        media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png"
        media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"
        media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"
        media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />

    <title>Comprar Bilhetes</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="styles/framework.css" rel="stylesheet" type="text/css">
    <link href="styles/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="styles/swipebox.css" rel="stylesheet" type="text/css">
    <link href="styles/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="styles/animate.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/jqueryui.js"></script>
    <script type="text/javascript" src="scripts/framework.plugins.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>

</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página...
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>


    <ul class="menu-top">
        <li><a href=""><i class="fa fa-bus"></i>Horários<i class="fa fa-circle"></i></a></li>
        <li>
            <a class="has-submenu" href="#"><i class="fa fa-ticket"></i>Bilhetes<i
                    class="fa fa-plus active-plus"></i></a>
            <ul class="submenu show-submenu">
                <li class="active-menu"><a href="comprarBilhete.html"><i class="fa fa-angle-right"></i>Comprar<i
                            class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Não Utilizados<i class="fa fa-circle"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i>Utilizados<i class="fa fa-circle"></i></a></li>
            </ul>
        </li>
        <li><a href=""><i class="fa fa-user"></i>Perfil<i class="fa fa-circle"></i></a></li>
        <li><a href=""><i class="fa fa-power-off"></i>Logout<i class="fa fa-circle"></i></a></li>
    </ul>

    <div class="header">
        <h4 class="header-logo" style="color: #fff; color: #fff; width: 600px; font-size: 18px;">Pedro Oliveira</h4>
        <a href="#" class="header-navigation show-navigation"><i class="fa fa-navicon"></i></a>
    </div>
    <div class="header-clear-big"></div>

    <div class="content">
        <div class="container no-bottom">
            <h3>Comprar Bilhete</h3>
        </div>

        <div class="decoration"></div>
        <div class="container" style="margin-bottom: 0px;">
            <div class="one-third" style="width: 175px; margin-right: 2px;">
                <h5 style="line-height: 30px;">Temos uma solução para si!</h5>
            </div>
            <div class="one-third" style="width: 20px; margin-right: 10px;">
                <ul class="icon-list">
                    <li class="tick-list"><p>&nbsp;</p></li>   
                </ul>
            </div>
            <div class="one-third last-column" style="width: 20px; margin-right: 2px;">
                <ul class="icon-list">
                    <li class="delete-list"><p>&nbsp;</p></li>   
                </ul>
            </div>
        </div>
        <div class="decoration"></div>

        <form id="formCompraBilhetes">
            <div class="container no-bottom">
                <div class="one-half-responsive">
                    <h5>NIF</h5>
                    <p class="half-bottom">
                        Insira o seu NIF no campo abaixo, caso pretenda a sua fatura com o mesmo.
                    </p>
                    <input type="text" class="text-input-one" id="nif" name="nif" placeholder="NIF"></input>
                </div>
                <div class="one-half-responsive">
                    <h5>Escolha do bilhete</h5>
                    <p class="half-bottom">
                        Escolha o tipo de bilhete que pretende comprar, a companhia, a quantidade e, consoante a sua
                        escolha, o preço será automaticamente preenchido.
                    </p>
                    <select class="select-input" id="tipoBilhete" name="tipoBilhete" required>
                        <option value="" selected disabled hidden>Tipo de bilhete</option>
                        <option value="bilheteUnico">Bilhete Único</option>
                        <option value="bilheteIdaVolta">Bilhete de Ida e Volta</option>
                        <option value="pack5">Pack de 5 bilhetes</option>
                        <option value="pack10">Pack de 10 bilhetes</option>
                    </select>
                    <select class="select-input" id="companhia" name="companhia" required>
                        <option value="" selected disabled hidden>Companhia</option>
                        <option value="transdev">Transdev</option>
                        <option value="barquense">Barquense</option>
                    </select>
                    <input type="number" class="text-input-one" id="quantidade" name="quantidade"
                        placeholder="Quantidade"></input>
                    <input type="text" class="text-input-one" id="preco" name="preco" placeholder="Preço"
                        disabled></input>
                </div>

            </div>
            <div class="decoration"></div>
            <div class="container no-bottom">
                <div class="one-half-responsive">
                    <button type="submit" id="submit"
                        class="button center-button button-blue full-bottom detected-button" style="width: 50%;">Efetuar
                        Pagamento</button>
                </div>
            </div>
        </form>
    </div>

    <div class="menu-wrapper-background"></div>

</body>