<!DOCTYPE HTML>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"
        media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png"
        media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"
        media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"
        media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />

    <title>Comprar Bilhetes</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="styles/framework.css" rel="stylesheet" type="text/css">
    <link href="styles/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="styles/swipebox.css" rel="stylesheet" type="text/css">
    <link href="styles/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="styles/animate.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/jqueryui.js"></script>
    <script type="text/javascript" src="scripts/framework.plugins.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>

    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/scripts/pagamento.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.9/sweetalert2.all.min.js"></script>

</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página...
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>


    <ul class="menu-top">
        <li><a href="horarios.html"><i class="fa fa-bus"></i>Horários<i class="fa fa-circle"></i></a></li>
        <li>
            <a class="has-submenu" href="#"><i class="fa fa-ticket"></i>Bilhetes<i
                    class="fa fa-plus active-plus"></i></a>
            <ul class="submenu show-submenu">
                <li class="active-menu"><a href="comprarBilhete.html"><i class="fa fa-angle-right"></i>Comprar<i
                            class="fa fa-circle"></i></a></li>
                <li><a href="bilhetesNaoUtilizados.html"><i class="fa fa-angle-right"></i>Não Utilizados<i
                            class="fa fa-circle"></i></a></li>
                <li><a href="bilhetesUtilizados.html"><i class="fa fa-angle-right"></i>Utilizados<i
                            class="fa fa-circle"></i></a></li>
            </ul>
        </li>
        <li><a href="perfil.html"><i class="fa fa-user"></i>Perfil<i class="fa fa-circle"></i></a></li>
        <li><a href="#"><i class="fa fa-power-off"></i>Logout<i class="fa fa-circle"></i></a></li>
    </ul>

    <div class="header">
        <h4 class="header-logo" style="color: #fff; width: 230px; font-size: 17px;" id="nomeUtilizador"></h4>
        <a href="#" class="header-navigation show-navigation"><i class="fa fa-navicon"></i></a>
    </div>
    <div class="header-clear-big"></div>

    <div class="content">
        <div class="container no-bottom">
            <h3>Comprar Bilhete</h3>
        </div>

        <div class="decoration"></div>
        <div id="compra">
            <div class="container" style="margin-bottom: 0px;">
                <div class="one-third" style="width: 175px; margin-right: 2px;">
                    <h5 style="line-height: 30px;">Temos uma solução para si!</h5>
                </div>
                <div class="one-third" style="width: 20px; margin-right: 10px;">
                    <ul class="icon-list">
                        <li class="tick-list">
                            <p>&nbsp;</p>
                        </li>
                    </ul>
                </div>
                <div class="one-third last-column" style="width: 20px; margin-right: 2px;">
                    <ul class="icon-list">
                        <li class="delete-list">
                            <p>&nbsp;</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="decoration"></div>

            <form id="formCompraBilhetes">
                <div class="container no-bottom">
                    <div class="one-half-responsive">
                        <h5>Escolha do bilhete</h5>
                        <p class="half-bottom">
                            Escolha o tipo de bilhete que pretende comprar, a companhia, a quantidade e, consoante a
                            sua
                            escolha, o preço será automaticamente preenchido.
                        </p>
                        <select class="select-input" id="tipoBilhete" name="tipoBilhete" required>
                        </select>
                        <input type="number" class="text-input-one" id="quantidade" name="quantidade"
                            placeholder="Quantidade" required></input>
                        <input type="text" class="text-price" id="preco" name="preco" placeholder="Preço Total"
                            disabled></input>
                    </div>

                </div>
                <div class="decoration"></div>
                <div class="container no-bottom">
                    <div class="one-half-responsive">
                        <button type="submit" id="efetuarPagamento"
                            class="button center-button button-blue full-bottom detected-button"
                            style="width: 75%; margin-top: 5px; padding: 12px 20px; font-size: 13px;">Efetuar
                            Pagamento</button>
                    </div>
                </div>
            </form>
        </div>



        <div class="one-half-responsive" id="pagamento" style="display: none;">
            <br>
            <br>
            <br>
            <form id="payment-form" class="sr-payment-form">
                <div class="sr-combo-inputs-row">
                    <div class="sr-input sr-card-element" id="card-element"></div>
                </div>
                <div class="sr-field-error" id="card-errors" role="alert"></div>
                <center>
                    <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pagar</span><span id="order-amount"></span>
                    </button>
                </center>
            </form>
            <div class="sr-result hidden">
                <p>Compra realizada com sucesso!<br /></p>
            </div>
        </div>

    </div>
    <div class="menu-wrapper-background"></div>
    <script>
        const urlBase = `https://test-api-isicampus.herokuapp.com/`;

        document.getElementById("nomeUtilizador").innerHTML = sessionStorage.getItem("user_nome");

        const loadOption = async () => {
            const response = await fetch(`${urlBase}/products`);
            const result = await response.json();
            const products = result.products;
            let opcao = `<option value="" selected disabled hidden>Tipo de bilhete</option>`;

            for (let i = 0; i < products.length; i++) {
                opcao +=
                    `<option value="${products[i].id}-${products[i].company}-${products[i].price}">${products[i].name} - ${products[i].company} - ${products[i].price}€</option>`;
            }
            document.getElementById("tipoBilhete").innerHTML = opcao;
        }
        loadOption();

        document.getElementById('formCompraBilhetes').addEventListener('submit', (event) => {
            event.preventDefault();
            document.getElementById('compra').style.display = "none";
            document.getElementById('pagamento').style.display = "block";
        })

        document.getElementById("tipoBilhete").addEventListener("change", (e) => {
            verificarQuantidade();
        })

        document.getElementById("quantidade").addEventListener("change", (e) => {
            verificarQuantidade();
        })

        function verificarQuantidade() {
            let tipoBilhete = document.getElementById("tipoBilhete").options[document.getElementById("tipoBilhete")
                .selectedIndex].text;
            let quantidade = document.getElementById("quantidade").value;
            if (tipoBilhete != "" && quantidade != "") {
                let res = tipoBilhete.split("-");
                if (quantidade <= 50 && res[0].includes("único")) {
                    if (quantidade % 5 == 0 && res[1].includes("Barquense")) {
                        for (let i = 0; i < document.getElementById("tipoBilhete").options.length; i++) {
                            let tipo = document.getElementById("tipoBilhete").options[i].text;
                            if (tipo.includes("Barquense") && tipo.includes("Pack")) {
                                document.getElementById("tipoBilhete").selectedIndex = i;
                                tipoBilhete = document.getElementById("tipoBilhete").options[i].text;
                                document.getElementById("quantidade").value = quantidade / 5;
                            }
                        }
                    } else if (quantidade % 10 == 0 && res[1].includes("Transdev")) {
                        for (let i = 0; i < document.getElementById("tipoBilhete").options.length; i++) {
                            let tipo = document.getElementById("tipoBilhete").options[i].text;
                            if (tipo.includes("Transdev") && tipo.includes("Pack")) {
                                document.getElementById("tipoBilhete").selectedIndex = i;
                                tipoBilhete = document.getElementById("tipoBilhete").options[i].text;
                                document.getElementById("quantidade").value = quantidade / 10;
                            }
                        }
                    }

                    quantidade = document.getElementById("quantidade").value;
                    res = tipoBilhete.split("-")
                    let total = (quantidade * parseFloat(res[2].replace("€", "").trim())).toFixed(2);
                    if (Number.isInteger(total)) {
                        total += ",00";
                    } else {
                        let x = total.toString().split(".");
                        total = x[0] + "," + (x[1].length == 1 ? x[1] + "0" : x[1]);
                    }
                    document.getElementById("preco").value = total;
                } else if (quantidade <= 10 && res[0].includes("Pack") && res[1].includes("Barquense")) {
                    let total = (quantidade * parseFloat(res[2])).toFixed(2);
                    if (Number.isInteger(total)) {
                        total += ",00";
                    } else {
                        let x = total.toString().split(".");
                        total = x[0] + "," + (x[1].length == 1 ? x[1] + "0" : x[1]);
                    }
                    document.getElementById("preco").value = total;
                } else if (quantidade <= 5 && res[0].includes("Pack") && res[1].includes("Transdev")) {
                    let total = (quantidade * parseFloat(res[2])).toFixed(2);
                    if (Number.isInteger(total)) {
                        total += ",00";
                    } else {
                        let x = total.toString().split(".");
                        total = x[0] + "," + (x[1].length == 1 ? x[1] + "0" : x[1]);
                    }
                    document.getElementById("preco").value = total;
                }
            }
        }
    </script>
</body>