<!DOCTYPE HTML>

<head>
    <title>Histórico de Compras</title>
    <%- include('header.ejs')  %>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/daterangepicker.css" />
  
    <script>
        (function ($) {
            $(document).ready(function () {
                $('input[name="filtro"]').daterangepicker({
                    "locale": {
                        "format": "DD/MM/YYYY",
                        "separator": " - ",
                        "applyLabel": "Aplicar",
                        "cancelLabel": "Cancelar",
                        "daysOfWeek": [
                            "Dom",
                            "Seg",
                            "Ter",
                            "Qua",
                            "Qui",
                            "Sex",
                            "Sab"
                        ],
                        "monthNames": [
                            "Janeiro",
                            "Fevereiro",
                            "Março",
                            "Abril",
                            "Maio",
                            "Junho",
                            "Julho",
                            "Agosto",
                            "Setembro",
                            "Outubro",
                            "Novembro",
                            "Dezembro"
                        ],
                        "firstDay": 1
                    }
                }, function (start, end) {
                    $("#startDate").val(start.format("YYYY-MM-DD"));
                    $("#endDate").val(end.format("YYYY-MM-DD"));
                    $("#buttonDate").click();
                })
            })
        })(jQuery);
    </script>
</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página...
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>


    <ul class="menu-top" id="menu">
        <li><a href="/bus"><i class="fa fa-bus"></i>Horários<i class="fa fa-circle"></i></a></li>
        <li>
            <a class="has-submenu" href="#"><i class="fa fa-ticket"></i>Bilhetes<i
                    class="fa fa-plus active-plus"></i></a>
            <ul class="submenu show-submenu">
                <li><a href="/purchase"><i class="fa fa-angle-right"></i>Comprar<i class="fa fa-circle"></i></a></li>
                <li><a href="/tickets/unused"><i class="fa fa-angle-right"></i>Não Utilizados<i
                            class="fa fa-circle"></i></a></li>
                <li><a href="/tickets/used"><i class="fa fa-angle-right"></i>Utilizados<i class="fa fa-circle"></i></a>
                </li>
                <li class="active-menu"><a href="/purchase/historic"><i class="fa fa-angle-right"></i>Histórico de
                        Compras<i class="fa fa-circle"></i></a>
                </li>
            </ul>
        </li>
        <li><a href="/profile"><i class="fa fa-user"></i>Perfil<i class="fa fa-circle"></i></a></li>
        <li><a href="#" id="logout"><i class="fa fa-power-off"></i>Logout<i class="fa fa-circle"></i></a></li>
    </ul>

    <div class="header">
        <h4 class="header-logo" style="color: #fff; width: 230px; font-size: 17px;" id="nomeUtilizador">
        </h4>
        <a href="#" class="header-navigation show-navigation"><i class="fa fa-navicon"></i></a>
    </div>
    <div class="header-clear-big"></div>

    <div class="content">
        <div class="container no-bottom">
            <h3>Histórico de Compras</h3>
            <div class="decoration"></div>
        </div>
        <div class="one-half-responsive">
            <input type="text" class="text-date" name="filtro"></input>
            <input type="text" id="startDate" style="display: none" />
            <input type="text" id="endDate" style="display: none" />
            <button type="button" id="buttonDate" style="display: none;"></button>
        </div>
        <div class="one-half-responsive">
            <div class="container">
                <div class="toggle-2">
                    <a href="#" class="deploy-toggle-2"
                        style="padding-bottom: 10px; padding-top: 10px; font-weight: bold; border-bottom: solid 1px rgba(0,0,0,0.05);">
                        <div style="margin-top: -5px">
                            <p style="display: inline; margin-bottom: 0px;">Transdev</p>
                            <p style="display: inline; float: right; margin-bottom: 0px;">6,50€</p>
                            <p
                                style="color: #666666; font-size: 11px; opacity: 0.6; line-height: 11px;margin-bottom: 0px;">
                                22/04/2020</p>
                        </div>
                    </a>

                </div>
                <div class="toggle-2">
                    <a href="#" class="deploy-toggle-2"
                        style="padding-bottom: 10px; padding-top: 10px; font-weight: bold; border-bottom: solid 1px rgba(0,0,0,0.05);">
                        <div style="margin-top: -5px;">
                            <p style="display: inline; margin-bottom: 0px;">Transdev</p>
                            <p style="display: inline; float: right; margin-bottom: 0px;">6,50€</p>
                            <p
                                style="color: #666666; font-size: 11px; opacity: 0.6; line-height: 11px;margin-bottom: 0px;">
                                22/04/2020</p>
                        </div>
                    </a>

                </div>
                <div class="toggle-2">
                    <a href="#" class="deploy-toggle-2"
                        style="padding-bottom: 10px; padding-top: 10px; font-weight: bold; border-bottom: solid 1px rgba(0,0,0,0.05);">
                        <div style="margin-top: -5px;">
                            <p style="display: inline; margin-bottom: 0px;">Transdev</p>
                            <p style="display: inline; float: right; margin-bottom: 0px;">6,50€</p>
                            <p
                                style="color: #666666; font-size: 11px; opacity: 0.6; line-height: 11px;margin-bottom: 0px;">
                                22/04/2020</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="menu-wrapper-background"></div>
    <div id="loading"
        style="position:fixed; z-index:99999; background-color:rgba(0,0,0,0.6); width:100%; height:100%; top:0px; left:0px; display:none;">
        <center>
            <img src="/images/loading.gif" width="20%" height="20%"
                style="position: absolute; margin: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        </center>
    </div>
    <script>
        const urlBase = "<%=urlBase%>";
        //verificar se o utilizador está autenticado
        fetch(`${urlBase}/authenticated`, {
            credentials: 'include'
        }).then(response => {
            if (response.status == 200) {
                return response.json()
            } else {
                throw new Error("Não autenticado");
            }
        }).then(result => {
            if (!result.isAuthenticated || result.isEmpresa) {
                throw new Error("Não autenticado");
            } else {
                document.getElementById("nomeUtilizador").innerHTML = result.user.nome + " " + result.user
                    .apelido;
            }
        }).catch(error => {
            window.location.replace("/");
        })

        document.getElementById('buttonDate').addEventListener('click', (event) => {
            console.log(document.getElementById('startDate').value);
            console.log(document.getElementById('endDate').value);
        });

        document.getElementById('logout').addEventListener('click', (event) => {
            event.preventDefault();

            document.getElementById("menu").setAttribute("class", "menu-top");
            document.getElementsByClassName("menu-wrapper-background")[0].style.cssText = "display:none";
            document.getElementById("loading").style.display = "block";
            return fetch(`${urlBase}/logout`, {
                credentials: 'include'
            }).then(response => {
                if (response.status == 200) {
                    localStorage.removeItem('user_nome');
                    document.getElementById("loading").style.display = "none";
                    swal({
                        title: 'Logout efetuado com sucesso!',
                        type: 'success',
                        showCloseButton: false,
                        showConfirmButton: false,
                        focusConfirm: false,
                        timer: 2000
                    }).then(result => {
                        window.location.replace("/")
                    });
                } else {
                    throw new Error("Erro");
                }
            }).catch(error => {
                document.getElementById("loading").style.display = "none";
                swal({
                    title: 'Ocorreu um erro. Tente novamente!',
                    type: 'error',
                    showCloseButton: false,
                    showConfirmButton: false,
                    focusConfirm: false,
                    timer: 2000
                })
            })
        })
    </script>
</body>