<!DOCTYPE HTML>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"
        media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png"
        media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"
        media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"
        media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />

    <title>Horários</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="styles/framework.css" rel="stylesheet" type="text/css">
    <link href="styles/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="styles/swipebox.css" rel="stylesheet" type="text/css">
    <link href="styles/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="styles/animate.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/jqueryui.js"></script>
    <script type="text/javascript" src="scripts/framework.plugins.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>

</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página...
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>


    <ul class="menu-top">
        <li class="active-menu"><a href="horarios.html"><i class="fa fa-bus"></i>Horários<i
                    class="fa fa-circle"></i></a></li>
        <li>
            <a class="has-submenu" href="#"><i class="fa fa-ticket"></i>Bilhetes<i class="fa fa-plus"></i></a>
            <ul class="submenu show-submenu">
                <li><a href="comprarBilhete.html"><i class="fa fa-angle-right"></i>Comprar<i
                            class="fa fa-circle"></i></a></li>
                <li><a href="bilhetesNaoUtilizados.html"><i class="fa fa-angle-right"></i>Não Utilizados<i
                            class="fa fa-circle"></i></a></li>
                <li><a href="bilhetesUtilizados.html"><i class="fa fa-angle-right"></i>Utilizados<i
                            class="fa fa-circle"></i></a></li>
            </ul>
        </li>
        <li><a href="perfil.html"><i class="fa fa-user"></i>Perfil<i class="fa fa-circle"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-power-off"></i>Logout<i class="fa fa-circle"></i></a></li>
    </ul>

    <div class="header">
        <h4 class="header-logo" style="color: #fff; width: 230px; font-size: 17px;" id="nomeUtilizador">
            Pedro Oliveira</h4>
        <a href="#" class="header-navigation show-navigation"><i class="fa fa-navicon"></i></a>
    </div>
    <div class="header-clear-big"></div>

    <div class="content">
        <div class="horario-page-wrapper">
            <div class="container no-bottom">
                <div class="container no-bottom">
                    <h3>Horário Transdev</h3>
                    <div class="decoration"></div>
                    <img src="images\transdev.JPG" class="center">

                    <br><br>

                    <h3>Horário Barquense</h3>
                    <div class="decoration"></div>
                    <img src="images\barquense.JPG" class="center">
                </div>

            </div>
        </div>
    </div>
    <div class="menu-wrapper-background"></div>
</body>