<!DOCTYPE HTML>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"
        media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png"
        media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"
        media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"
        media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />

    <title>Login</title>

    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="styles/framework.css" rel="stylesheet" type="text/css">
    <link href="styles/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="styles/swipebox.css" rel="stylesheet" type="text/css">
    <link href="styles/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="styles/animate.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/jqueryui.js"></script>
    <script type="text/javascript" src="scripts/framework.plugins.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.9/sweetalert2.all.min.js"></script>

</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>

    <div class="login-page bg1" style="background-position: 100% 100%; opacity: 0.8;">
        <div class="login-page-overlay"></div>
        <div class="login-page-wrapper">
            <br>
            <br>
            <br>
            <div>
                <h4 class="header-logo1" style="color: #fff; width: 100%; font-size: 30px; text-align: center;">
                    Login</h4>
            </div>
            <br>
            <form id="formLogin">
                <input type="email" class="login" placeholder="Email" id="email" required>
                <input type="password" class="login" placeholder="Palavra-passe" id="pass" required>
                <br>
                <center>
                    <button type="submit" id="login"
                        class="button center-button button-blue full-bottom detected-button"
                        style="width: 75%; margin-top: 5px; padding: 12px 20px; font-size: 13px; margin-bottom: 15px!important;">Login</button>
                </center>
                <a class="forgot" href="/register">Ainda não possui conta? Registe-se!</a>
                <a class="forgot" href="recuperar.html" style="margin-top: 8px;">Esqueceu-se da palavra-passe?</a>
            </form>
        </div>
    </div>
    <div class="menu-wrapper-background"></div>

    <script>
        const urlBase = `https://test-api-isicampus.herokuapp.com`;

        const formLogin = document.getElementById('formLogin');

        formLogin.addEventListener('submit', (event) => {
            document.getElementById("login").disabled = true;
            event.preventDefault();

            const email = document.getElementById('email').value;
            const pass = document.getElementById('pass').value;

            let data = {
                email: email,
                password: pass
            }

            return fetch(`${urlBase}/login`, {
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include',
                method: 'POST',
                body: JSON.stringify(data)
            }).then(response => {
                return response.json();
            }).then(result => {
                if (result.message == "user not found") {
                    document.getElementById("login").disabled = false;
                    swal({
                        title: 'Insira o email corretamente!',
                        showCancelButton: false,
                        showConfirmButton: false,
                        type: 'error',
                        timer: 2000
                    })
                } else if (result.message == "password invalid") {
                    document.getElementById("login").disabled = false;
                    swal({
                        title: 'Insira a palavra-passe corretamente!',
                        showCancelButton: false,
                        showConfirmButton: false,
                        type: 'error',
                        timer: 2000
                    })
                } else {
                    if (result.isEmpresa) {
                        window.location.reload(); //rota do leitor quando fizer a pagina
                    } else {
                        sessionStorage.setItem("user_nome", result.nome + " " + result.apelido);
                        window.location.replace(
                            '/purchase') //  window.location.replace('/profile') //alterar para ejs
                    }
                }
            }).catch(error => {
                document.getElementById("login").disabled = false;
                console.log(error);
                swal({
                    title: 'Impossível efetuar o login. Tente mais tarde!',
                    showCancelButton: false,
                    showConfirmButton: false,
                    type: 'error',
                    timer: 2000
                })
            })
        })
    </script>

</body>