<!DOCTYPE HTML>

<head>
    <title>Login</title>
    <%- include('header.ejs')  %>
    <script type="module">
        import 'https://storage.googleapis.com/workbox-cdn/releases/5.0.0/workbox-sw.js';

        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>
</head>
<body>

    <div id="preloader">
        <div id="status">
            
            <p class="center-text">
                A carregar a página
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>

    <div class="login-page bg1" style="background-position: 100% 100%; opacity: 0.8;">
        <div class="login-page-overlay"></div>
        <div class="login-page-wrapper">
            <br>
            <div>
                <h4 class="header-logo1"
                    style="color: #fff; width: 100%; font-size: 30px; text-align: center; margin-top: 88px;">
                    Login</h4>
            </div>
            <br>
            <form id="formLogin">
                <input type="email" class="login" placeholder="Email" id="email" required>
                <input type="password" class="login" placeholder="Palavra-passe" id="pass" required>
                <br>
                <center>
                    <button type="submit" id="login"
                        class="button center-button button-blue full-bottom detected-button"
                        style="width: 75%; margin-top: 5px; padding: 12px 20px; font-size: 13px; margin-bottom: 15px!important;">Login</button>
                </center>
                <a class="forgot" href="/register">Ainda não possui conta? Registe-se!</a>
                <a class="forgot" href="/recover" style="margin-top: 8px;">Esqueceu-se da palavra-passe?</a>
            </form>
        </div>
    </div>
    <div class="menu-wrapper-background"></div>

    <script>
        const urlBase = `<%=urlBase%>`;

        fetch(`${urlBase}/authenticated`, {
            credentials: 'include'
        }).then(response => {
            if (response.status == 200) {
                return response.json()
            }
        }).then(result => {
            if (result.isAuthenticated) {
                if (result.isEmpresa) {
                    window.location.replace("/qrcodeReader");
                } else {
                    window.location.replace("/tickets/unused");
                }
            }
        }).catch(error => {})

        const formLogin = document.getElementById('formLogin');

        formLogin.addEventListener('submit', (event) => {
            document.getElementById("login").disabled = true;
            event.preventDefault();

            const email = document.getElementById('email').value;
            const pass = document.getElementById('pass').value;

            let data = {
                email: email,
                password: pass
            }

            return fetch(`${urlBase}/login`, {
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include',
                method: 'POST',
                body: JSON.stringify(data)
            }).then(response => {
                if (response.status == 200) {
                    return response.json();
                } else {
                    throw new Error(
                        "Combinação entre email e palavra-passe incorreta. Tente novamente!")
                }
            }).then(result => {
                if (result.isEmpresa) {
                    localStorage.setItem("user_nome", result.nome);
                    window.location.replace('/qrcodeReader');
                } else {
                    localStorage.setItem("user_nome", result.nome + " " + result.apelido);
                    window.location.replace('/tickets/unused')
                }
            }).catch(error => {
                document.getElementById("login").disabled = false;
                if (error.message ==
                    "Combinação entre email e palavra-passe incorreta. Tente novamente!") {
                    swal({
                        html: '<strong><h3>Combinação entre email e palavra-passe incorreta. Tente novamente!</h3></strong>',
                        showCancelButton: false,
                        showConfirmButton: false,
                        type: 'error',
                        timer: 2000
                    })
                } else {
                    swal({
                        html: '<strong><h3>Impossível efetuar o login. Tente mais tarde!</h3></strong>',
                        showCancelButton: false,
                        showConfirmButton: false,
                        type: 'error',
                        timer: 2000
                    })
                }
            })
        })
    </script>

</body>