<!DOCTYPE HTML>

<head>

    <title>Offline Page</title>


    <link href="styles/framework.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="error-page-wrapper" style="background-position: 100% 100%; opacity: 0.8;">
        <div class="error-page">
            <center>
                <img src="./images/warning.png" style="width: 60px; margin-bottom: 10px;">
            </center>
            <h4>Não existe ligação à Internet!</h4>
            <br>
            <a href="#" class="error-button" id="refresh">Tentar novamente</a>
        </div>
        <div class="overlay"></div>
    </div>

    <script>
        document.getElementById('refresh').addEventListener("change", () => {
            window.location.reload();
        })
    </script>
</body>