<!DOCTYPE HTML>

<head>
    <title>Recuperar palavra-passe</title>
    <%- include('header.ejs')  %>
</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>
    <div class="login-page bg1" style="background-position: 100% 100%; opacity: 0.8;">
        <div class="login-page-overlay"></div>
        <div class="login-page-wrapper">
            <br>
            <br>
            <div>
                <h4 class="header-logo1"
                    style="color: #fff; width: 100%; font-size: 24px; text-align: center; margin-top: 88px;">
                    Recuperar Palavra-passe</h4>
            </div>
            <br>
            <p style="line-height: 19px; color: #fff; font-family: 'Roboto', sans-serif;">Deseja recuperar a sua
                palavra-passe? Insira o seu email no campo abaixo e, de seguida, consulte-o.</p>
            <form id="formMail">
                <input type="email" class="login" placeholder="Email" id="email" required>
                <br>
                <center>
                    <button type="submit" id="enviarMail"
                        class="button center-button button-blue full-bottom detected-button"
                        style="width: 75%; margin-top: 5px; padding: 12px 20px; font-size: 13px; margin-bottom: 15px!important;">Recuperar</button>
                </center>
                <a class="forgot" href="/">Já não pretende recuperar a palavra-passe? Volte para o login!</a>
            </form>
        </div>
    </div>
    <div class="menu-wrapper-background"></div>
    <script>
        const urlBase = `<%=urlBase%>`;

        const email = document.getElementById("email");

        const formMail = document.getElementById("formMail");

        formMail.addEventListener('submit', (event) => {
            document.getElementById("enviarMail").disabled = true;
            event.preventDefault();

            let data = {
                email: email.value
            }
            return fetch(`${urlBase}/password/recover`, {
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include',
                method: 'POST',
                body: JSON.stringify(data)
            }).then(response => {
                return response.json();
            }).then(result => {
                if (result.message == "mail sent") {
                    swal({
                        title: 'Email enviado com sucesso!',
                        type: 'success',
                        showCancelButton: false,
                        showConfirmButton: false,
                        showLoaderOnConfirm: false,
                        timer: 2000
                    }).then(result => {
                        window.location.replace('/')
                    })
                } else if (result.message == "User not found") {
                    throw new Error("Email inválido!");
                } else {
                    throw new Error("Ocorreu um erro! Tente novamente mais tarde. Obrigado!");
                }
            }).catch(error => {
                document.getElementById("enviarMail").disabled = false;
                swal({
                    html: '<strong><h3>Ocorreu um erro! Tente novamente mais tarde. Obrigado!</h3></strong>',
                    showCancelButton: false,
                    showConfirmButton: false,
                    type: 'error',
                    timer: 2000
                })
            });
        })
    </script>
</body>