<!DOCTYPE HTML>

<head>
    <title>Registo</title>
    <%- include('header.ejs')  %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js?ver<%=ver%>" type="text/javascript"></script>
</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>




    <div class="login-page bg1" style="background-position: 100% 100%; opacity: 0.8;">
        <div class="login-page-overlay"></div>
        <div class="login-page-wrapper">
            <br>
            <div>
                <h4 class="header-logo1" style="color: #fff; width: 100%; font-size: 30px; text-align: center;">
                    Registo</h4>
            </div>
            <br>
            <form id="formRegisto">
                <input type="text" class="signup" placeholder="Primeiro nome" id="firstname" required>
                <input type="text" class="signup" placeholder="Último nome" id="lastname" required>
                <input type="email" class="signup" placeholder="Email" id="email" required>
                <input type="text" class="signup" placeholder="NIF" id="nif" maxlength="9" size="9" required>
                <input type="password" class="signup" placeholder="Palavra-passe" id="pass" required>
                <input type="password" class="signup" placeholder="Confirmar palavra-passe" id="confPass" required>
                <br>
                <center>
                    <button type="submit" id="registar"
                        class="button center-button button-blue full-bottom detected-button"
                        style="width: 75%; margin-top: 5px; padding: 12px 20px; font-size: 13px; margin-bottom: 15px!important;">Registar</button>
                </center>
                <a class="forgot" href="/" style="margin-top: 10px;">Já possui uma conta? Efetue o login!</a>
            </form>
        </div>
    </div>
    <div class="menu-wrapper-background"></div>
    <script>
        const urlBase = `<%=urlBase%>`;

        const firstname = document.getElementById("firstname");
        const lastname = document.getElementById("lastname");
        const pass = document.getElementById("pass");
        const confPass = document.getElementById("confPass");
        const nif = document.getElementById("nif");

        pass.addEventListener("change", (event) => {
            if (pass.value != confPass.value && confPass.value != "") {
                confPass.setCustomValidity("As palavras-passe não correspondem!");
            } else {
                if (pass.value.length >= 9) {
                    let validator = {
                        maiuscula: 0,
                        minuscula: 0,
                        numero: 0,
                        especial: 0
                    }

                    for (let i = 0; i < pass.value.length; i++) {
                        if ("0123456789".includes(pass.value.charAt(i))) {
                            validator.numero = 1;
                        } else if ("[`!@#$%^&*()_+-=[]{};':\"\\|,.<>/?~]".includes(pass.value.charAt(i))) {
                            validator.especial = 1;
                        } else if (pass.value.charAt(i) === pass.value.charAt(i).toLowerCase()) {
                            validator.minuscula = 1;
                        } else if (pass.value.charAt(i) === pass.value.charAt(i).toUpperCase()) {
                            validator.maiuscula = 1;
                        }
                    }

                    if (validator.maiuscula + validator.minuscula + validator.especial + validator.numero < 3) {
                        swal({
                            html: '<strong><h3>A sua palavra-passe deve conter pelo menos três dos seguintes caracteres: um caracter especial, uma letra maiúscula, uma letra minúscula ou um número!</h3></strong>',
                            type: 'error',
                            showCloseButton: true,
                            showConfirmButton: false,
                            focusConfirm: false,
                            timer: 9000
                        })
                    } else {
                        pass.setCustomValidity("");
                        document.getElementById("registar").disabled = false;
                    }
                } else {
                    swal({
                        html: '<strong><h3>A sua palavra-passe deve conter no mínimo 9 caracteres.</h3></strong>',
                        type: 'error',
                        showCloseButton: true,
                        showConfirmButton: false,
                        focusConfirm: false,
                        timer: 9000
                    })
                }
            }
        })

        confPass.addEventListener("change", (event) => {
            if (pass.value != confPass.value && confPass.value != "") {
                confPass.setCustomValidity("As palavras-passe não correspondem!");
            } else {
                confPass.setCustomValidity("");
                document.getElementById("registar").disabled = false;
            }
        })

        firstname.addEventListener("change", (event) => {
            const letras = /^[a-záàâãéèêíïóôõöúçñ ]+$/i;
            if (firstname.value.match(letras)) {
                firstname.setCustomValidity("");
                document.getElementById("registar").disabled = false;
            } else {
                firstname.setCustomValidity("Insira apenas letras!");
            }
        })

        lastname.addEventListener("change", (event) => {
            const letras = /^[a-záàâãéèêíïóôõöúçñ ]+$/i;
            if (lastname.value.match(letras)) {
                lastname.setCustomValidity("");
                document.getElementById("registar").disabled = false;
            } else {
                lastname.setCustomValidity("Insira apenas letras!")
            }
        })

        const formRegisto = document.getElementById("formRegisto");

        formRegisto.addEventListener('submit', (event) => {
            document.getElementById("registar").disabled = true;
            event.preventDefault();

            return fetch(
                `https://cors-anywhere.herokuapp.com/https://www.nif.pt/?json=1&q=${document.getElementById("nif").value}&key=517d02fba0547e1bd8d68dbcc36e6ea4`
            ).then(response => {
                if (response.status == 200) {
                    return response.json();
                } else {
                    throw new Error(
                        "Não foi possível verificar o seu NIF. Por favor tente novamente mais tarde!"
                    );
                }
            }).then(result => {
                if (result.nif_validation) {
                    let data = {
                        nome: document.getElementById("firstname").value,
                        apelido: document.getElementById("lastname").value,
                        email: document.getElementById("email").value,
                        nif: document.getElementById("nif").value,
                        password: pass.value,
                    }
                    return fetch(`${urlBase}/register`, {
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        method: 'POST',
                        body: JSON.stringify(data)
                    }).then(response => {
                        return response.json();
                    }).then(result => {
                        if (result.message == "User inserted with success") {
                            swal({
                                title: 'Registo efetuado com sucesso!',
                                type: 'success',
                                showCancelButton: false,
                                showConfirmButton: false,
                                showLoaderOnConfirm: false,
                                timer: 2000
                            }).then(result => {
                                window.location.replace('/')
                            })
                        } else {
                            if (result.error == "CONTACT_EXISTS") {
                                throw new Error(result.error);
                            } else if (result.error == "NIF_EXISTS") {
                                throw new Error(result.error);
                            } else {
                                throw new Error(
                                    "Ocorreu um erro! Tente novamente mais tarde. Obrigado!"
                                );
                            }
                        }
                    }).catch(error => {
                        document.getElementById("registar").disabled = false;
                        if (error.message == 'CONTACT_EXISTS') {
                            swal({
                                title: 'Este email já existe!',
                                showCancelButton: false,
                                showConfirmButton: false,
                                type: 'error',
                                timer: 2000
                            })
                        } else if (error.message == 'NIF_EXISTS') {
                            swal({
                                title: 'Este NIF já existe!',
                                showCancelButton: false,
                                showConfirmButton: false,
                                type: 'error',
                                timer: 2000
                            })
                        } else {
                            swal({
                                html: '<strong><h3>Ocorreu um erro! Tente novamente mais tarde. Obrigado!</h3></strong>',
                                showCancelButton: false,
                                showConfirmButton: false,
                                type: 'error',
                                timer: 2000
                            })
                        }
                    });
                } else {
                    throw new Error(
                        "O NIF que introduziu não é válido. Verifique se introduziu o seu NIF corretamente!"
                    );
                }
            }).catch(error => {
                swal({
                    html: '<strong><h3>O NIF que introduziu não é válido. Verifique se introduziu o seu NIF corretamente!</h3></strong>',
                    type: 'error',
                    showCloseButton: false,
                    showConfirmButton: false,
                    focusConfirm: false,
                    timer: 2000
                })
            })
        })
    </script>
</body>