<!DOCTYPE HTML>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"
        media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png"
        media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"
        media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"
        media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.9/sweetalert2.all.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <title>Registo</title>

    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href="/styles/framework.css" rel="stylesheet" type="text/css">
    <link href="/styles/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/styles/swipebox.css" rel="stylesheet" type="text/css">
    <link href="/styles/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/styles/animate.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/jqueryui.js"></script>
    <script type="text/javascript" src="/scripts/framework.plugins.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>

</head>

<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>




    <div class="login-page bg1" style="background-position: 100% 100%; opacity: 0.8;">
        <div class="login-page-overlay"></div>
        <div class="login-page-wrapper">
            <br>
            <div>
                <h4 class="header-logo1" style="color: #fff; width: 100%; font-size: 30px; text-align: center;">
                    Registo</h4>
            </div>
            <br>
            <form id="formRegisto">
                <input type="text" class="signup" placeholder="Primeiro nome" id="firstname" required>
                <input type="text" class="signup" placeholder="Último nome" id="lastname" required>
                <input type="email" class="signup" placeholder="Email" id="email" required>
                <input type="text" class="signup" placeholder="NIF" id="nif" maxlength="9" size="9" required>
                <input type="password" class="signup" placeholder="Palavra-passe" id="pass" required>
                <input type="password" class="signup" placeholder="Confirmar palavra-passe" id="confPass" required>
                <br>
                <center>
                    <button type="submit" id="registar"
                        class="button center-button button-blue full-bottom detected-button"
                        style="width: 75%; margin-top: 5px; padding: 12px 20px; font-size: 13px; margin-bottom: 15px!important;">Registar</button>
                </center>
                <a class="forgot" href="/" style="margin-top: 10px;">Já possui uma conta? Efetue o login!</a>
            </form>
        </div>
    </div>
    <div class="menu-wrapper-background"></div>
    <script>
        const urlBase = `<%=urlBase%>`;

        const firstname = document.getElementById("firstname");
        const lastname = document.getElementById("lastname");
        const pass = document.getElementById("pass");
        const confPass = document.getElementById("confPass");
        const nif = document.getElementById("nif");

        pass.addEventListener("change", (event) => {
            if (pass.value != confPass.value && confPass.value != "") {
                confPass.setCustomValidity("As palavras-passe não correspondem!");
            } else {
                if (pass.value.length >= 9) {
                    let validator = {
                        maiuscula: 0,
                        minuscula: 0,
                        numero: 0,
                        especial: 0
                    }

                    for (let i = 0; i < pass.value.length; i++) {
                        if ("0123456789".includes(pass.value.charAt(i))) {
                            validator.numero = 1;
                        } else if ("[`!@#$%^&*()_+-=[]{};':\"\\|,.<>/?~]".includes(pass.value.charAt(i))) {
                            validator.especial = 1;
                        } else if (pass.value.charAt(i) === pass.value.charAt(i).toLowerCase()) {
                            validator.minuscula = 1;
                        } else if (pass.value.charAt(i) === pass.value.charAt(i).toUpperCase()) {
                            validator.maiuscula = 1;
                        }
                    }

                    if (validator.maiuscula + validator.minuscula + validator.especial + validator.numero < 3) {
                        swal({
                            html: '<strong><h3>A sua palavra-passe deve conter pelo menos três dos seguintes caracteres: um caracter especial, uma letra maiúscula, uma letra minúscula ou um número!</h3></strong>',
                            type: 'error',
                            showCloseButton: true,
                            showConfirmButton: false,
                            focusConfirm: false,
                            timer: 9000
                        })
                    } else {
                        pass.setCustomValidity("");
                        document.getElementById("registar").disabled = false;
                    }
                } else {
                    swal({
                        html: '<strong><h3>A sua palavra-passe deve conter no mínimo 9 caracteres.</h3></strong>',
                        type: 'error',
                        showCloseButton: true,
                        showConfirmButton: false,
                        focusConfirm: false,
                        timer: 9000
                    })
                }
            }
        })

        confPass.addEventListener("change", (event) => {
            if (pass.value != confPass.value && confPass.value != "") {
                confPass.setCustomValidity("As palavras-passe não correspondem!");
            } else {
                confPass.setCustomValidity("");
                document.getElementById("registar").disabled = false;
            }
        })

        firstname.addEventListener("change", (event) => {
            const letras = /^[a-záàâãéèêíïóôõöúçñ ]+$/i;
            if (firstname.value.match(letras)) {
                firstname.setCustomValidity("");
                document.getElementById("registar").disabled = false;
            } else {
                firstname.setCustomValidity("Insira apenas letras!");
            }
        })

        lastname.addEventListener("change", (event) => {
            const letras = /^[a-záàâãéèêíïóôõöúçñ ]+$/i;
            if (lastname.value.match(letras)) {
                lastname.setCustomValidity("");
                document.getElementById("registar").disabled = false;
            } else {
                lastname.setCustomValidity("Insira apenas letras!")
            }
        })

        const formRegisto = document.getElementById("formRegisto");

        formRegisto.addEventListener('submit', (event) => {
            document.getElementById("registar").disabled = true;
            event.preventDefault();

            return fetch(
                    `https://cors-anywhere.herokuapp.com/https://www.nif.pt/?json=1&q=${document.getElementById("nif").value}&key=517d02fba0547e1bd8d68dbcc36e6ea4`
                )
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    } else {
                        throw new Error(
                            "Não foi possível verificar o seu NIF. Por favor tente novamente mais tarde!"
                        );
                    }
                }).then(result => {
                    if (result.nif_validation) {
                        let data = {
                            nome: document.getElementById("firstname").value,
                            apelido: document.getElementById("lastname").value,
                            email: document.getElementById("email").value,
                            nif: document.getElementById("nif").value,
                            password: pass.value,
                        }
                        return fetch(`${urlBase}/register`, {
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            method: 'POST',
                            body: JSON.stringify(data)
                        }).then(response => {
                            return response.json();
                        }).then(result => {
                            if (result.message == "User inserted with success") {
                                swal({
                                    title: 'Registo efetuado com sucesso!',
                                    type: 'success',
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    showLoaderOnConfirm: false,
                                    timer: 2000
                                }).then(result => {
                                    window.location.replace('/')
                                })
                            } else {
                                console.log(result);
                                if (result.error == "CONTACT_EXISTS") {
                                    throw new Error(result.error);
                                } else {
                                    throw new Error(
                                        "Ocorreu um erro! Tente novamente mais tarde. Obrigado!"
                                    );
                                }
                            }
                        }).catch(error => {
                            document.getElementById("registar").disabled = false;
                            if (error.message == 'CONTACT_EXISTS') {
                                swal({
                                    title: 'Este email já existe!',
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    type: 'error',
                                    timer: 2000
                                })
                            } else {
                                swal({
                                    html: '<strong><h3>Ocorreu um erro! Tente novamente mais tarde. Obrigado!</h3></strong>',
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    type: 'error',
                                    timer: 2000
                                })
                            }
                        });
                    } else {
                        throw new Error(
                            "O NIF que introduziu não é válido. Verifique se introduziu o seu NIF corretamente!"
                        );
                    }
                }).catch(error => {
                    swal({
                        html: '<strong><h3>O NIF que introduziu não é válido. Verifique se introduziu o seu NIF corretamente!</h3></strong>',
                        type: 'error',
                        showCloseButton: false,
                        showConfirmButton: false,
                        focusConfirm: false,
                        timer: 2000
                    })
                })
        })
    </script>
</body>