<!DOCTYPE HTML>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"
        media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png"
        media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png"
        media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"
        media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"
        media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />

    <title>Validação de Bilhetes</title>


    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href="/styles/framework.css" rel="stylesheet" type="text/css">
    <link href="/styles/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/styles/swipebox.css" rel="stylesheet" type="text/css">
    <link href="/styles/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/styles/animate.css" rel="stylesheet" type="text/css">


    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/jqueryui.js"></script>
    <script type="text/javascript" src="/scripts/framework.plugins.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.9/sweetalert2.all.min.js"></script>

</head>

<body>
    <div id="preloader">
        <div id="status">
            <p class="center-text">
                A carregar a página...
                <em>O carregamento depende da velocidade da sua conexão à internet! Aguarde uns instantes!</em>
            </p>
        </div>
    </div>

    <div class="header">
        <h4 class="header-logo" style="color: #fff; width: 230px; font-size: 17px;" id="companhia"></h4>
        <a href="#" id="logout" class="header-navigation"><i class="fa fa-power-off"
                style="font-size: large; line-height: 66px;"></i></a>
    </div>
    <div class="header-clear-big"></div>

    <div class="content" id="video">
        <div class="container no-bottom">
            <h3>Validação de Bilhetes</h3>
            <div class="decoration"></div>
            <div class="one-half-responsive" style="height: 100%; width: 100%;">
                <video muted playsinline id="qr-video" width="100%" height="100%"></video>
            </div>
        </div>
    </div>
    <div id="resultado" style="display: none;">
    </div>
    <script type="module">
        const urlBase = "<%=urlBase%>";
        //verificar se o utilizador está autenticado
        fetch(`${urlBase}/authenticated`, {
            credentials: 'include'
        }).then(response => {
            if (response.status == 200) {
                return response.json()
            } else {
                throw new Error("Não autenticado");
            }
        }).then(result => {
            console.log(result);
            setTimeout(() => {
            if (!result.isAuthenticated || !result.isEmpresa) {
                throw new Error("Não autenticado");
            }}, 2000);
        }).catch(error => {
            window.location.replace("/");
        })

        document.getElementById("companhia").innerHTML = localStorage.getItem("user_nome");
        
        import QrScanner from "./scripts/qr-scanner.min.js";
        QrScanner.WORKER_PATH = './scripts/qr-scanner-worker.min.js';
    
        const video = document.getElementById('qr-video');

        QrScanner.hasCamera().then(hasCamera =>{ 
            if (hasCamera) {
                const scanner = new QrScanner(video, result => {
                scanner.pause();
                console.log(result);
                result = JSON.parse(result);
                if (result.qrcode_id) {
                    return fetch(`${urlBase}/qrcodes/use`, {  
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: "include",
                    method: 'POST',
                    body: JSON.stringify(result)
                    }).then(response => {
                        if(response.status == 200) {
                            document.getElementById("video").style.display = "none";
                            document.getElementById("resultado").style.cssText = "position: fixed; z-index: 99999; background-color: #4AD941; width: 100%; height: 100%; top: 60px; left: 0px; display: block;";
                            setTimeout(() => {
                            document.getElementById("video").style.display = "block";
                                document.getElementById("resultado").style.display = "none";
                                scanner.start();
                            }, 3000)
                        } else {
                            document.getElementById("video").style.display = "none";
                            document.getElementById("resultado").style.cssText = "position: fixed; z-index: 99999; background-color: #FF0000; width: 100%; height: 100%; top: 60px; left: 0px; display: block;";
                            setTimeout(() => {
                            document.getElementById("video").style.display = "block";
                                document.getElementById("resultado").style.display = "none";
                                scanner.start();
                            }, 3000)
                        }
                    })
                }             
            });
            scanner.start();
        } else {
            alert("Sem acesso à câmara");
        }
    });
        
        
    document.getElementById('logout').addEventListener('click', (event) => {
            event.preventDefault();

            return fetch(`${urlBase}/logout`, {
                credentials: 'include'
            }).then(response => {
                if (response.status == 200) {
                    localStorage.removeItem('user_nome');
                    swal({
                        title: 'Logout efetuado com sucesso!',
                        type: 'success',
                        showCloseButton: false,
                        showConfirmButton: false,
                        focusConfirm: false,
                        timer: 2000
                    }).then(result => {window.location.replace("/") });
                } else {
                    throw new Error("Erro");
                }
            }).catch(error => {
                swal({
                    title: 'Ocorreu um erro. Tente novamente!',
                    type: 'error',
                    showCloseButton: false,
                    showConfirmButton: false,
                    focusConfirm: false,
                    timer: 2000
                })
            })
        })
    </script>
</body>